/* BEGIN PAGE-WIDE */

body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.clearing
{
	clear: both;
}

a
{
	text-decoration: none;
	color: #C0C0C0;
}
a:visited
{
	text-decoration: none;
	color: #808080;
}

img
{
	border: 0px;
}

input
{
	outline: none;
}

.clearlog { background: url(../img/era_small.png); }

/* END PAGE-WIDE */

/* BEGIN LAYOUT */

span.title
{
	font-size: large;
	font-weight: bold;
}

div.header
{
	background: url('../img/header.png' ) repeat-x;
	color: white;
	font-size: 8pt;
	font-weight: bold;
	height: 15px;
	padding: 3px;
}

div.init
{
	background: url('../img/back.png' ) repeat-x;
}

td.msgleft
{
	background: url('../img/msgleft.png' ) no-repeat;
	height: 24px;
	width: 12px;
}
td.msgright
{
	background: url('../img/msgright.png' ) no-repeat;
	height: 24px;
	width: 12px;
}
td.msg
{
	background-color: #b3d9ff;
	font-size: x-small;
	white-space: nowrap;
}
div.msg
{
	background: url('../img/info.png');
	float: left;
	height: 16px;
	margin-right: 5px;
	width: 16px;
}


td.errleft
{
	background: url('../img/errleft.png') no-repeat;
	height: 24px;
	width: 12px;
}
td.errright
{
	background: url('../img/errright.png') no-repeat;
	height: 24px;
	width: 12px;
}
td.err
{
	background: #ffa6a6;
	font-size: x-small;
	white-space: nowrap;
}
div.err
{
	background: url('../img/error.png');
	float: left;
	height: 16px;
	margin-right: 5px;
	width: 16px;
}

/* END LAYOUT */

/* BEGIN COMMANDS */

div#commands
{
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}
label.command
{
	line-height: 25px;
}
label.command:hover
{
	text-decoration: none;
	color: #C0C0C0;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: pointer;
}
label.disabled
{
	cursor: default;
	color: Silver;
	text-decoration: none;
	line-height: 25px;
}
input.disabled
{
	cursor: default;
	filter: alpha(opacity=40);
	opacity: 0.4;
}

/* END COMMANDS */


/* BUTTON BARS */
.btnleft
{
	background: url('../img/navbtnleft.png');
	height: 24px;
	width: 24px;
}

.btncent
{
	background: url('../img/navbtncent.png');
	height: 24px;
	width: 24px;
}

.btncentpressed
{
	background: url('../img/navbtncentpress.png') no-repeat;
	padding-top: 1px;
	margin-bottom: -1px;
	height: 24px;
	width: 24px;
}

.btnright
{
	background: url('../img/navbtnright.png');
	height: 24px;
	width: 24px;
}

.txtleft
{
	background: url('../img/txtleft.png') no-repeat;
	width: 2px;
}

.lblleft
{
	background: url('../img/navlblleft.png') no-repeat;
	height: 24px;
	width: 24px;
}

.edgeright
{
	background: url('../img/navedgeright.png') no-repeat;
	height: 24px;
	width: 6px;
}

.txtcent
{
	background: Transparent url('../img/txtcent.png') repeat-x;
	border-width: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	height: 22px;
	line-height: 20px;
	margin-top: -2px;
	width: 100%;
}

.txtright
{
	background: url('../img/txtright.png') no-repeat;
	width: 2px;
}

/* END BUTTON BARS */

/* GENERAL PLUGIN STYLES */

#jqueryviewframe
{
	border: solid 1px #999;
	margin: 1em 30px 0 30px;
	overflow: auto;
	position: absolute;
}

em.highlight
{
	background: #3399FF;
	color: White;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
}

em.nohighlight
{
	font-style: normal;
}

/* END GENERAL PLUGINS STYLE */