/* BEGIN PAGE-WIDE */

body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.clearing
{
	clear: both;
}

a
{
	text-decoration: none;
	color: #C0C0C0;
}
a:visited
{
	text-decoration: none;
	color: #808080;
}

img
{
	border: 0px;
}

input
{
	outline: none;
}

.clearlog { background: url(../img/era_small.png); }

/* END PAGE-WIDE */

/* BEGIN LAYOUT */

span.title
{
	font-size: large;
	font-weight: bold;
}

div.header
{
	background-image: url('../img/header.png' );
	background-repeat: repeat-x;
	color: white;
	font-size: 8pt;
	font-weight: bold;
	height: 15px;
	padding: 3px;
}

div.init
{
	background-image: url('../img/back.png' );
	background-repeat: repeat-x;
}

td.msgleft
{
	background-image: url('../img/msgleft.png' );
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
}
td.msgright
{
	background-image: url('../img/msgright.png' );
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
}
td.msg
{
	background-color: #b3d9ff;
	font-size: x-small;
	white-space: nowrap;
}
div.msg
{
	background-image: url('../img/info.png' );
	float: left;
	height: 16px;
	margin-right: 5px;
	width: 16px;
}


td.errleft
{
	background-image: url('../img/errleft.png' );
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
}
td.errright
{
	background-image: url('../img/errright.png' );
	background-repeat: no-repeat;
	height: 24px;
	width: 12px;
}
td.err
{
	background-color: #ffa6a6;
	font-size: x-small;
	white-space: nowrap;
}
div.err
{
	background-image: url('../img/error.png' );
	float: left;
	height: 16px;
	margin-right: 5px;
	width: 16px;
}

/* END LAYOUT */

/* BEGIN COMMANDS */

div#commands
{
	margin: 5px;
}
label.command
{
	line-height: 25px;
}
label.command:hover
{
	text-decoration: none;
	color: #C0C0C0;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: pointer;
}
label.disabled
{
	cursor: default;
	color: Silver;
	text-decoration: none;
	line-height: 25px;
}
input.disabled
{
	cursor: default;
	filter: alpha(opacity=40);
	opacity: 0.4;
}

/* END COMMANDS */